body {
  background-color: #161515;
  display: flex;
  font-family: 'Muli', sans-serif;
  display: flex;
  flex-direction: column;
}

.contract-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #070707;
  position: sticky;
  top: 0;
  left: 0; 
  z-index: 1;
}

.header {
  color: white;
  padding: 20px;
  text-align: center;
}

.contract {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  text-align: center;
}

.existing-contracts {
  margin: 20px;
  padding: 40px;
  background-color: #474545;
  text-align: center;
}

h1 {
  margin: 10px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

label {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  color: #aaa;
  margin: 5px;
}

input[type="text"] {
  padding: 6px;
  font-size: 18px;
}

.button-wrapper {
  display: inline-block;
}

.button {
  background-color: #f58427;
  color: white;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 200px;
  
}

.connect-btn {
  background-color: #0059ff;
  color: white;
  text-align: center;
  font-weight: bold;
  margin: 20px;
  padding: 9px 25px;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  width: 200px;
  
}

.existing-contract ul {
  padding: 10px;
  margin: 20px;
  background-color: #eee;
}

.existing-contract ul > li {
  list-style: none;
  margin: 10px;
}

.existing-contract ul > li > div {
  margin: 0 5px;
}

.existing-contract ul > li > :first-child {
  font-weight: bold;
}

.existing-contract .complete {
  color: #5aa75a;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .wrapper {
    display: flex;
    flex-direction: column;
  }

  .contract-wrapper {
    display: inline-block;
    position: relative;

  }

  .contract {
    display: flex;
    flex-direction: column;
    align-items: center;

  }
  .existing-contracts {
    margin: 10px;
    padding: 0px;
  }

  .existing-contracts-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .li {
    color: blue;
  }

  .existing-contract ul > li > div {
    overflow:scroll;
  }

  .button {
    width: 100px;
  }

  .wallet-address {
    overflow: scroll;
  }

}